<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Card.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="https://img.icons8.com/doodle/100/000000/jumper.png"/>
            </div>
            <div class="content">
                <div>
                    <h3>Tipo de prendas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perspiciatis consequatur, inventore iste suscipit nobis? Ipsa veritatis id et quis, optio deserunt, ea suscipit vitae consequatur officia ex non dolores.</p>
                    <a href="#">Read</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="https://img.icons8.com/plasticine/100/000000/machine-wash-hot.png"/>
            </div>
            <div class="content">
                <div>
                    <h3>Tipo de lavado</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perspiciatis consequatur, inventore iste suscipit nobis? Ipsa veritatis id et quis, optio deserunt, ea suscipit vitae consequatur officia ex non dolores.</p>
                    <a href="#">Read</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="https://img.icons8.com/fluency/100/000000/clothes-in-laundry.png"/>
            </div>
            <div class="content">
                <div>
                    <h3>Procedimiento</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perspiciatis consequatur, inventore iste suscipit nobis? Ipsa veritatis id et quis, optio deserunt, ea suscipit vitae consequatur officia ex non dolores.</p>
                    <a href="#">Read</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="https://img.icons8.com/doodle/100/000000/hanger--v1.png"/>
            </div>
            <div class="content">
                <div>
                    <h3>Entrega</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perspiciatis consequatur, inventore iste suscipit nobis? Ipsa veritatis id et quis, optio deserunt, ea suscipit vitae consequatur officia ex non dolores.</p>
                    <a href="#">Read</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>